<table mat-table [dataSource]="assignedChannels">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef scope="col" i18n>Name</th>
    <td mat-cell *matCellDef="let element">{{element.NotificationChannel.Name}}</td>
  </ng-container>

  <ng-container matColumnDef="StartEnabled">
    <th mat-header-cell *matHeaderCellDef scope="col" i18n>Start</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [checked]="element.StartEnabled" (change)="onSlide($event, element, 'StartEnabled')"></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="SuccessEnabled">
    <th mat-header-cell *matHeaderCellDef scope="col" i18n>Success</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [checked]="element.SuccessEnabled" (change)="onSlide($event, element, 'SuccessEnabled')"></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="FailEnabled">
    <th mat-header-cell *matHeaderCellDef scope="col" i18n>Fail</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle [checked]="element.FailEnabled" (change)="onSlide($event, element, 'FailEnabled')"></mat-slide-toggle>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
