.log-viewport {
  height: calc(100vh - 260px);
}

.log-viewport-wrapper {
  font-family: monospace;
  background-color: black;
  color: #f0f8ff;
  line-height: 15px;
  font-size: 12px;
  padding: 10px;
  margin: 10px -16px -16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.properties {
  margin-top: -8px;
  margin-left: 20px;
}
