<table mat-table [dataSource]="teamUsers">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef scope="col">Username</th>
    <td mat-cell *matCellDef="let element"><strong>{{element.Username}}</strong></td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
    <td mat-cell *matCellDef="let element">
      <button type="button" mat-icon-button title="Delete" (click)="delete(element)">
        <mat-icon color="warn">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
<div class="p2">
  <ng-container *ngIf="showUserSelect">
    <app-form-user [users]="availableUsers" [formControl]="selectedUser" label="User"></app-form-user>
    <button mat-raised-button class="mr2" (click)="toggleUserSelect()">Cancel</button>
    <button mat-raised-button color="primary" (click)="addUser()">Save</button>
  </ng-container>
  <button *ngIf="!showUserSelect" mat-raised-button (click)="toggleUserSelect()">Add user</button>
</div>
