<mat-chip-list [ngSwitch]="job?.Status">
  <mat-chip matTooltip="Waiting" routerLink="/jobs/{{job?.ID}}" class="mat-elevation-z2 job-status job-status--pending" *ngSwitchCase="status.PENDING">
    <mat-icon class="rotate2">hourglass_empty</mat-icon>
  </mat-chip>
  <mat-chip matTooltip="Processing" routerLink="/jobs/{{job?.ID}}" class="mat-elevation-z2 job-status job-status--processing" *ngSwitchCase="status.PROCESSING">
    <mat-icon class="rotate">autorenew</mat-icon>
  </mat-chip>
  <mat-chip matTooltip="Completed" routerLink="/jobs/{{job?.ID}}" class="mat-elevation-z2 job-status job-status--completed" *ngSwitchCase="status.COMPLETED">
    <mat-icon>done_outline</mat-icon>
  </mat-chip>
  <mat-chip matTooltip="Failed" routerLink="/jobs/{{job?.ID}}" class="mat-elevation-z2 job-status job-status--failed" *ngSwitchCase="status.FAILED">
    <mat-icon>clear</mat-icon>
  </mat-chip>
</mat-chip-list>
