.job-status {
  cursor: pointer !important;

  &--completed {
    color: #228b22 !important;
    background-color: #73de83 !important;
  }

  &--processing {
    color: black !important;
    background-color: #ffe99a !important;
  }

  &--pending {
    color: #3b6baa !important;
    background-color: #79c2ff !important;
  }

  &--failed {
    color: #850000 !important;
    background-color: #ff7276 !important;
  }
}
