.job-status {
  cursor: pointer;

  &--completed {
    color: #228b22;
    background-color: #73de83;
  }

  &--processing {
    //color: white;
    background-color: #ffe99a;
  }

  &--pending {
    color: #3b6baa;
    background-color: #79c2ff;
  }

  &--failed {
    color: #850000;
    background-color: #ff7276;
  }
}
