<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [(opened)]="opened" class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{nav.title}}</mat-toolbar>
    <mat-nav-list *ngxPermissionsExcept="UserTypes.GUEST">
      <a mat-list-item class="menu-item" routerLink="/settings/keys">SSH keys</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="UserTypes.ADMIN" routerLink="/settings/projects">Projects</a>
      <a mat-list-item class="menu-item" routerLink="/settings/inventories">Inventories</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="UserTypes.ADMIN" routerLink="/settings/repositories">Artifact Repositories</a>
      <a mat-list-item class="menu-item" routerLink="/settings/apps">Applications</a>
      <a mat-list-item class="menu-item" routerLink="/settings/templates">Templates</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="UserTypes.ADMIN" routerLink="/settings/users">Users</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="UserTypes.ADMIN" routerLink="/settings/teams">Teams</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="UserTypes.ADMIN" routerLink="/settings/settings">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-column">
    <header>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="mr2">Deploji</span>
        <button
          *ngxPermissionsExcept="UserTypes.GUEST"
          type="button"
          aria-label="Jobs"
          title="Jobs"
          mat-button
          routerLink="/jobs">
          Jobs
        </button>
        <button
          *ngxPermissionsExcept="UserTypes.GUEST"
          type="button"
          aria-label="Applications"
          title="Applications"
          mat-button
          routerLink="/applications">
          Applications
        </button>
        <button
          *ngxPermissionsExcept="UserTypes.GUEST"
          type="button"
          aria-label="Inventories"
          title="Inventories"
          mat-button
          routerLink="/inventories">
          Inventories
        </button>
        <button
          *ngxPermissionsExcept="UserTypes.GUEST"
          type="button"
          aria-label="Templates"
          title="Templates"
          mat-button
          routerLink="/templates">
          Templates
        </button>
        <span class="flex-auto"></span>
        <button
          *ngxPermissionsExcept="UserTypes.GUEST"
          type="button"
          aria-label="Settings"
          title="Settings"
          routerLink="/settings"
          mat-icon-button
        >
          <mat-icon aria-label="Profile">settings</mat-icon>
        </button>
        <button
          *ngxPermissionsExcept="UserTypes.GUEST"
          (click)="logout()"
          type="button"
          aria-label="Logout"
          title="Logout"
          mat-icon-button
        >
          <mat-icon aria-label="Logout">exit_to_app</mat-icon>
        </button>
      </mat-toolbar>
    </header>
    <div class="p2">
      <router-outlet></router-outlet>
    </div>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
