<mat-toolbar class="navbar mat-elevation-z6" color="primary">
  <mat-toolbar-row class="pl0 first-row">
    <button
      type="button"
      class="hamburger p0"
      aria-label="Toggle sidenav"
      mat-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">settings</mat-icon>
    </button>
    <span class="mr2 brand">Deploji</span>
    <ng-container *ngIf="(isHandset$ | async) === false">
      <button
        *ngxPermissionsExcept="userTypes.GUEST"
        type="button"
        aria-label="Jobs"
        title="Jobs"
        mat-button
        routerLink="/jobs">
        <ng-container i18n>Jobs</ng-container>
      </button>
      <button
        *ngxPermissionsExcept="userTypes.GUEST"
        type="button"
        aria-label="Applications"
        title="Applications"
        mat-button
        routerLink="/applications">
        <ng-container i18n>Applications</ng-container>
      </button>
      <button
        *ngxPermissionsExcept="userTypes.GUEST"
        type="button"
        aria-label="Inventories"
        title="Inventories"
        mat-button
        routerLink="/inventories">
        <ng-container i18n>Inventories</ng-container>
      </button>
      <button
        *ngxPermissionsExcept="userTypes.GUEST"
        type="button"
        aria-label="Templates"
        title="Templates"
        mat-button
        routerLink="/templates">
        <ng-container i18n>Templates</ng-container>
      </button>
    </ng-container>
    <span class="flex-auto"></span>
    <button
      type="button"
      title="Select a theme"
      i18n-title
      [matMenuTriggerFor]="themeMenu"
      mat-icon-button>
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      <button (click)="setTheme('light-theme')" mat-menu-item>
        <span class="palette-picker palette-picker--light"></span>
      </button>
      <button (click)="setTheme('dark-theme')" mat-menu-item>
        <span class="palette-picker palette-picker--dark"></span>
      </button>
      <button (click)="setTheme('light-theme-2020')" mat-menu-item>
        <span class="palette-picker palette-picker--light-2020"></span>
      </button>
      <button (click)="setTheme('dark-theme-2020')" mat-menu-item>
        <span class="palette-picker palette-picker--dark-2020"></span>
      </button>
    </mat-menu>
    <button
      type="button"
      title="Language"
      i18n-title
      [matMenuTriggerFor]="langMenu"
      mat-icon-button>
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu">
      <a href="/de/" mat-menu-item><span class="mr1 flag-icon flag-icon-de"></span>Deutsch</a>
      <a href="/en/" mat-menu-item><span class="mr1 flag-icon flag-icon-gb"></span>English</a>
      <a href="/es/" mat-menu-item><span class="mr1 flag-icon flag-icon-es"></span>Español</a>
      <a href="/fr/" mat-menu-item><span class="mr1 flag-icon flag-icon-fr"></span>Français</a>
      <a href="/pl/" mat-menu-item><span class="mr1 flag-icon flag-icon-pl"></span>Polski</a>
      <a href="/pt/" mat-menu-item><span class="mr1 flag-icon flag-icon-pt"></span>Português</a>
      <a href="/ru/" mat-menu-item><span class="mr1 flag-icon flag-icon-ru"></span>Русский</a>
    </mat-menu>
    <button
      *ngxPermissionsExcept="userTypes.GUEST"
      (click)="logout()"
      type="button"
      aria-label="Logout"
      title="Logout"
      i18n-title
      mat-icon-button>
      <mat-icon aria-label="Logout">exit_to_app</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="isHandset$ | async" class="flex p0 second-row">
    <button
      *ngxPermissionsExcept="userTypes.GUEST"
      class="flex-auto h-100"
      type="button"
      aria-label="Jobs"
      title="Jobs"
      i18n-title
      mat-button
      routerLink="/jobs">
      <ng-container i18n>Jobs</ng-container>
    </button>
    <button
      *ngxPermissionsExcept="userTypes.GUEST"
      class="flex-auto h-100"
      type="button"
      aria-label="Applications"
      title="Applications"
      i18n-title
      mat-button
      routerLink="/applications">
      <ng-container i18n>Applications</ng-container>
    </button>
    <button
      *ngxPermissionsExcept="userTypes.GUEST"
      type="button"
      aria-label="Inventories"
      title="Inventories"
      mat-button
      routerLink="/inventories">
      <ng-container i18n>Inventories</ng-container>
    </button>
    <button
      *ngxPermissionsExcept="userTypes.GUEST"
      class="flex-auto h-100"
      type="button"
      aria-label="Templates"
      title="Templates"
      i18n-title
      mat-button
      routerLink="/templates">
      <ng-container i18n>Templates</ng-container>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [(opened)]="opened" class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar i18n>Settings</mat-toolbar>
    <mat-nav-list *ngxPermissionsExcept="userTypes.GUEST">
      <a mat-list-item class="menu-item" routerLink="/settings/keys" i18n>Keys</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="[userTypes.ADMIN, userTypes.AUDITOR]"
         routerLink="/settings/projects" i18n>Projects</a>
      <a mat-list-item class="menu-item" routerLink="/settings/inventories" i18n>Inventories</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="[userTypes.ADMIN, userTypes.AUDITOR]"
         routerLink="/settings/repositories" i18n>Artifact Repositories</a>
      <a mat-list-item class="menu-item" routerLink="/settings/apps" i18n>Applications</a>
      <a mat-list-item class="menu-item" routerLink="/settings/templates" i18n>Templates</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="[userTypes.ADMIN, userTypes.AUDITOR]"
         routerLink="/settings/users" i18n>Users</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="[userTypes.ADMIN, userTypes.AUDITOR]"
         routerLink="/settings/teams" i18n>Groups</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="[userTypes.ADMIN, userTypes.AUDITOR]"
         routerLink="/settings/settings" i18n>Settings</a>
      <a mat-list-item class="menu-item" *ngxPermissionsOnly="[userTypes.ADMIN, userTypes.AUDITOR]"
         routerLink="/settings/notification-channels" i18n>Notification Channels</a>
      <a mat-list-item class="menu-item" routerLink="/settings/vault" i18n>Vault</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="flex flex-column">
    <div class="p2">
      <router-outlet></router-outlet>
    </div>
    <footer></footer>
  </mat-sidenav-content>
</mat-sidenav-container>
