.sidenav-container {
  flex: 1;
}

.sidenav {
  width: 200px;
  position: fixed;
  bottom: 0;
  top: 55px;
}

@media (max-width: 600px) {
  .sidenav {
    top: 100px;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.menu-item {
  font-weight: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-left: 0;
  min-height: 55px;
}

.hamburger {
  margin: 0 8px 0 0;
  width: 64px;
  height: 64px;
}

.second-row {
  height: 45px;
}

.first-row {
  height: 55px;
}

.brand {
  font-family: 'Lobster Two', Roboto, sans-serif;
  font-size: 28px
}
$size: 40px;
.palette-picker {
  position: relative;
  display: inline-block;
  line-height: $size;
  width: $size;
  border-radius: 50%;

  &:before {
    content: '\00a0';
  }

  &--light {
    background-image: linear-gradient(90deg, #ff6f61 50%, #ededed 50%);
  }
  &--dark {
    background-image: linear-gradient(90deg, #ff6f61 50%, #303030 50%);
  }
  &--light-2020 {
    background-image: linear-gradient(90deg, #004680 50%, #ededed 50%);
  }
  &--dark-2020 {
    background-image: linear-gradient(90deg, #004680 50%, #303030 50%);
  }
}
