<h1>
  <ng-container *ngIf="!form.get('ID').value" i18n>Create new</ng-container>
  <ng-container *ngIf="form.get('ID').value" i18n>Edit</ng-container>
  <span i18n>project</span>
</h1>
<mat-card class="p0">
  <mat-tab-group>
    <mat-tab label="Details" i18n-label>
      <form [formGroup]="form" class="p2">
        <mat-form-field class="block">
          <mat-label i18n>Name</mat-label>
          <input matInput placeholder="Name" i18n-placeholder type="text" formControlName="Name">
        </mat-form-field>
        <mat-form-field class="block">
          <mat-label i18n>Git URL</mat-label>
          <input matInput type="text" formControlName="RepoUrl">
        </mat-form-field>
        <mat-form-field class="block">
          <mat-label i18n>Git branch</mat-label>
          <input matInput type="text" formControlName="RepoBranch">
        </mat-form-field>
        <mat-form-field class="block">
          <mat-label i18n>Git user</mat-label>
          <input matInput type="text" formControlName="RepoUser">
        </mat-form-field>
        <app-form-ssh-key [control]="form.SshKey" label="SSH key" i18n-label></app-form-ssh-key>
        <div class="button-row flex">
          <div class="flex-auto"></div>
          <button type="button" mat-raised-button routerLink="/settings/projects" i18n>Cancel</button>
          <button type="button" mat-raised-button color="primary" (click)="save()" i18n>Save</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Notifications" i18n-label [disabled]="!projectId">
      <app-notifications-when [projectId]="projectId"></app-notifications-when>
    </mat-tab>
  </mat-tab-group>
</mat-card>
