<h1>
  <ng-container *ngIf="!form.ID.value">Create new</ng-container>
  <ng-container *ngIf="form.ID.value">Edit</ng-container>
  artifact repository
</h1>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field class="block">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="Name">
      <mat-error>
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="block">
      <mat-label>Type</mat-label>
      <mat-select formControlName="Type">
        <mat-option [value]="repositoryTypesEnum.DOCKER_V1">Docker registry v1</mat-option>
        <mat-option [value]="repositoryTypesEnum.DOCKER_V2">Docker registry v2</mat-option>
        <mat-option [value]="repositoryTypesEnum.NEXUS_V3_MAVEN">Nexus 3 Maven</mat-option>
      </mat-select>
      <mat-error>
        Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="block">
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="Url">
      <mat-error *ngIf="form.Url.hasError('required')">
        URL is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="form.Url.hasError('pattern')">
        URL must start with http/https
      </mat-error>
      <mat-hint>
        Artifact repository URL for example https://registry.hub.docker.com
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="block">
      <mat-label>Nexus repository name</mat-label>
      <input matInput type="text" formControlName="NexusName">
      <mat-error *ngIf="form.NexusName.hasError('required')">
        Nexus name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="block">
      <mat-label>Username</mat-label>
      <input matInput autocomplete="new-password" type="text" formControlName="Username">
    </mat-form-field>
    <mat-form-field class="block">
      <mat-label>Password</mat-label>
      <input matInput autocomplete="new-password" type="password" formControlName="Password">
    </mat-form-field>
    <div class="button-row flex">
      <div class="flex-auto"></div>
      <button type="button" mat-raised-button routerLink="/settings/repositories">Cancel</button>
      <button type="button" mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</mat-card>
