<mat-card>
  <form [formGroup]="form">
    <h3><span i18n>Launch template</span> {{template?.Name}}</h3>
    <app-form-project *ngIf="template?.PromptProject" [control]="form.Project"></app-form-project>
    <app-form-inventory *ngIf="template?.PromptInventory" [control]="form.Inventory"></app-form-inventory>
    <app-form-project-file *ngIf="template?.PromptPlaybook"
                           [control]="form.Playbook"
                           label="Playbook"
                           i18n-label
                           [project]="form.get('Project').value"></app-form-project-file>
    <app-form-ssh-key *ngIf="template?.PromptSshKey" [control]="form.SshKey"></app-form-ssh-key>
    <mat-form-field *ngIf="template?.PromptExtraVariables" class="block">
      <mat-label i18n>Extra variables</mat-label>
      <textarea cdkTextareaAutosize matInput type="textarea" formControlName="ExtraVariables"></textarea>
    </mat-form-field>
    <div class="button-row flex">
      <div class="flex-auto"></div>
      <button type="button" mat-raised-button (click)="cancel()" i18n>Cancel</button>
      <button type="button" mat-raised-button color="primary" (click)="save()" i18n>Launch</button>
    </div>
  </form>
</mat-card>
