<div class="flex flex-wrap">
  <h1 i18n>Applications</h1>
  <div class="flex-auto"></div>
  <div>
    <mat-button-toggle-group [formControl]="control">
      <mat-button-toggle value="app" i18n>Applications</mat-button-toggle>
      <mat-button-toggle value="inventory" i18n>Inventories</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<app-applications-list *ngIf="control.value === 'app'"></app-applications-list>
<app-inventories *ngIf="control.value === 'inventory'"></app-inventories>
