<div [formGroup]="form">
  <div formArrayName="extraVariables">
    <div *ngFor="let input of survey.Inputs; let i = index">
      <div [ngSwitch]="input.Type">
        <div *ngSwitchCase="surveyTypes.TEXT">
          <mat-form-field class="w-100">
            <mat-label>{{input.Label}}</mat-label>
            <input matInput type="text" formControlName="{{i}}">
            <mat-hint>{{input.Hint}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngSwitchCase="surveyTypes.TEXTAREA">
          <mat-form-field class="w-100">
            <mat-label>{{input.Label}}</mat-label>
            <textarea matInput formControlName="{{i}}"></textarea>
            <mat-hint>{{input.Hint}}</mat-hint>
          </mat-form-field>
        </div>
        <div *ngSwitchCase="surveyTypes.SELECT">
          <mat-form-field class="w-100">
            <mat-label>{{input.Label}}</mat-label>
            <mat-select formControlName="{{i}}">
              <mat-option *ngFor="let item of selectItems(input.Options)" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            <mat-hint>{{input.Hint}}</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
