<div class="flex">
  <h1>Artifact Repositories</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/repositories/create">Create new
      repository
    </button>
  </div>
</div>
<mat-card *ngFor="let repository of repositories" class="my2">
  <div class="flex">
    <div>
      <div class="mb2">
        <a routerLink="/settings/repositories/{{repository.ID}}">{{repository.Name}}</a>
      </div>
      <div class="properties">
        <div class="properties__row">
          <div class="properties__label">Type</div>
          <div class="properties__value">{{repository.Type}}</div>
        </div>
        <div class="properties__row">
          <div class="properties__label">Repository URL</div>
          <div class="properties__value">{{repository.Url}}</div>
        </div>
      </div>
    </div>
    <div class="flex-auto"></div>
    <div>
      <button type="button" mat-icon-button title="Edit" routerLink="/settings/repositories/{{repository.ID}}">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button type="button" mat-icon-button title="Delete key" (click)="delete(repository)">
        <mat-icon color="warn">delete_forever</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
