<div class="flex">
  <h1 i18n>Templates</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/templates/create">
      <ng-container i18n>Create new template</ng-container>
    </button>
  </div>
</div>
<ng-template [ngTemplateOutlet]="selectedTemplateRef"></ng-template>
<ng-template #listRef>
  <app-template-list [templates]="templates" (selected)="launch($event)"></app-template-list>
</ng-template>
<ng-template #launchRef>
  <app-template-launch [template]="selectedTemplate" (cancelEvent)="cancel()"></app-template-launch>
</ng-template>
