<div class="d-flex">
  <h1>Templates</h1>
  <div class="flex-fill"></div>
  <div class="d-flex flex-column justify-content-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/templates/create">Create new
      template
    </button>
  </div>
</div>
<ng-template [ngTemplateOutlet]="selectedTemplateRef"></ng-template>
<ng-template #listRef>
  <app-template-list [templates]="templates" (select)="launch($event)"></app-template-list>
</ng-template>
<ng-template #launchRef>
  <app-template-launch [template]="selectedTemplate" (cancelEvent)="cancel()"></app-template-launch>
</ng-template>
