<h1><span i18n>Job</span> #{{job?.ID}}</h1>
<mat-card>
  <mat-card-header>
    <div class="flex w-100 justify-center items-center">
      <app-job-status [job]="job"></app-job-status>
      <div class="properties mr2">
        <div class="properties__row">
          <div class="properties__label" i18n>Type</div>
          <div class="properties__label" i18n>Inventory</div>
          <div class="properties__label" i18n>Application</div>
          <div class="properties__label" i18n>Version</div>
        </div>
        <div class="properties__row">
          <div class="properties__value">{{job?.Type}}</div>
          <div class="properties__value">{{job?.Inventory?.Name}}</div>
          <div class="properties__value">{{job?.Application?.Name}}</div>
          <div class="properties__value">{{job?.Version}}</div>
        </div>
      </div>
      <app-user-avatar [user]="job?.User" [size]="40"></app-user-avatar>
      <div class="flex-auto"></div>
      <button mat-icon-button title="Relaunch using same parameters" class="mr2" (click)="relaunch()" [disabled]="!isCompleted(job?.Status)">
        <mat-icon svgIcon="rocket"></mat-icon>
      </button>
      <mat-slide-toggle [formControl]="autoScroll" i18n>Auto scroll</mat-slide-toggle>
    </div>
  </mat-card-header>
  <div class="log-viewport-wrapper">
    <cdk-virtual-scroll-viewport #scrollMe class="log-viewport" itemSize="15">
      <ng-container *cdkVirtualFor="let log of logs">
        <div [innerHTML]="log?.Message | ansi" class="log-item"></div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
  <mat-card-content>
  </mat-card-content>
</mat-card>
