<h1>
  <ng-container *ngIf="!channel?.ID" i18n>Create new</ng-container>
  <ng-container *ngIf="channel?.ID" i18n>Edit</ng-container>
  <span i18n>notification channel</span>
</h1>

<mat-card>
  <form [formGroup]="form">
    <mat-form-field class="block">
      <mat-label i18n>Name</mat-label>
      <input type="text" matInput placeholder="Name" i18n-placeholder formControlName="Name">
    </mat-form-field>

    <mat-form-field class="block">
      <mat-label i18n>Type</mat-label>
      <mat-select formControlName="Type">
        <mat-option *ngFor="let option of types" [value]="option">{{option}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="block" *ngIf="form.isEmail">
      <mat-label i18n>Recipients</mat-label>
      <input type="text" matInput placeholder="Recipients" i18n-placeholder formControlName="Recipients">
    </mat-form-field>

    <mat-form-field class="block" *ngIf="form.isWebhook">
      <mat-label i18n>Webhook</mat-label>
      <input type="text" matInput placeholder="Webhook" i18n-placeholder formControlName="WebhookURL">
    </mat-form-field>

    <div class="button-row flex">
      <div class="flex-auto"></div>
      <button type="button" mat-raised-button routerLink="/settings/notification-channels" i18n>Cancel</button>
      <button *ngIf="!channel?.ID" type="button" mat-raised-button color="primary" (click)="save()" i18n>Save</button>
      <button *ngIf="channel?.ID" type="button" mat-raised-button color="primary" (click)="update()" i18n>Update</button>
    </div>
  </form>
</mat-card>
