<div class="flex flex-wrap">
  <h1>Templates</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/templates/create">Create new
      template
    </button>
  </div>
</div>
<mat-card class="p0">
  <table mat-table [dataSource]="templates">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="/settings/templates/{{element.ID}}">{{element?.Name}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef scope="col">Project</th>
      <td mat-cell *matCellDef="let element">{{element.Project?.Name}}</td>
    </ng-container>
    <ng-container matColumnDef="inventory">
      <th mat-header-cell *matHeaderCellDef scope="col">Inventory</th>
      <td mat-cell *matCellDef="let element">{{element.Inventory?.Name}}</td>
    </ng-container>
    <ng-container matColumnDef="playbook">
      <th mat-header-cell *matHeaderCellDef scope="col">Playbook</th>
      <td mat-cell *matCellDef="let element">{{element.Playbook}}</td>
    </ng-container>
    <ng-container matColumnDef="sshkey">
      <th mat-header-cell *matHeaderCellDef scope="col">SshKey</th>
      <td mat-cell *matCellDef="let element">{{element.SshKey?.Title}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element?.Permissions?.Write" type="button" mat-icon-button title="Edit" routerLink="/settings/templates/{{element.ID}}">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button *ngIf="element?.Permissions?.Write" type="button" mat-icon-button title="Delete template" (click)="delete(element)">
          <mat-icon color="warn">delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</mat-card>
