<div class="flex flex-wrap">
  <h1>Teams</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/teams/create">
      Create new team
    </button>
  </div>
</div>
<mat-card class="my2 p0">
  <mat-card-content>
    <table mat-table [dataSource]="teams">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/settings/teams/{{element.ID}}">{{element.Name}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
        <td mat-cell *matCellDef="let element">
          <app-edit-button routerLink="/settings/users/{{element.ID}}"></app-edit-button>
          <app-delete-button (click)="delete(element)"></app-delete-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>
