<div class="flex">
  <h1>Applications</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/apps/create" class="pull-right">
      Create new application
    </button>
  </div>
</div>
<mat-card class="my2 p0">
  <mat-card-content>
    <table mat-table [dataSource]="apps">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/settings/apps/{{element.ID}}">{{element?.Name}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef scope="col">Project</th>
        <td mat-cell *matCellDef="let element">{{element?.Project?.Name}}</td>
      </ng-container>
      <ng-container matColumnDef="playbook">
        <th mat-header-cell *matHeaderCellDef scope="col">Playbook</th>
        <td mat-cell *matCellDef="let element">{{element?.AnsiblePlaybook}}</td>
      </ng-container>
      <ng-container matColumnDef="repository">
        <th mat-header-cell *matHeaderCellDef scope="col">Repository</th>
        <td mat-cell *matCellDef="let element">{{element?.Repository?.Name}}</td>
      </ng-container>
      <ng-container matColumnDef="artifact">
        <th mat-header-cell *matHeaderCellDef scope="col">Artifact</th>
        <td mat-cell *matCellDef="let element">{{element?.RepositoryArtifact}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" mat-icon-button title="Edit" routerLink="/settings/apps/{{element.ID}}">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button type="button" mat-icon-button title="Delete app" (click)="delete(element)">
            <mat-icon color="warn">delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>
