<h1 i18n>Settings</h1>
<mat-card class="p0">
  <form [formGroup]="form">
    <mat-tab-group>
      <mat-tab *ngFor="let group of groups; let i = index" [label]="group.Name" formArrayName="Groups">
        <div class="p2" [formGroupName]="i">
          <button class="my2" *ngIf="group.Name === 'PUSH'" mat-raised-button color="primary" (click)="generate(i)">Generate keys</button>
          <ng-container *ngFor="let setting of group.Settings; let j = index">
            <div [ngSwitch]="setting.ValueType" [formGroupName]="j">
              <mat-form-field *ngSwitchCase="'text'" class="w-100 my1">
                <mat-label>{{setting.Label}}</mat-label>
                <input matInput type="text" formControlName="Value">
                <mat-hint>{{setting.Description}}</mat-hint>
              </mat-form-field>
              <div *ngSwitchCase="'bool'" class="mb2">
                <mat-slide-toggle formControlName="BoolValue">{{setting.Label}}</mat-slide-toggle>
              </div>
            </div>
          </ng-container>
          <div class="flex">
            <div class="flex-auto"></div>
            <button mat-raised-button color="primary" type="button" (click)="save(i)" i18n>Save</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</mat-card>
