<mat-form-field class="w-100">
  <mat-label>{{label}}</mat-label>
  <input type="text" matInput [formControl]="control"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <cdk-virtual-scroll-viewport [itemSize]="48" [style.height.px]=5*48 minBufferPx="500" maxBufferPx="1000">
      <mat-option *cdkVirtualFor="let option of filteredOptions" [value]="option">
        {{option.Name}}
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-autocomplete>
</mat-form-field>
