<h1>
  <ng-container *ngIf="!form.get('ID').value" i18n>Create new</ng-container>
  <ng-container *ngIf="form.get('ID').value" i18n>Edit</ng-container>
  <ng-container>&nbsp;</ng-container>
  <ng-container i18n>team</ng-container>
</h1>
<mat-card class="p0">
  <mat-tab-group>
    <mat-tab label="Details" i18n-label>
      <form [formGroup]="form" class="p2">
        <mat-form-field class="block">
          <mat-label i18n>Name</mat-label>
          <input matInput type="text" formControlName="Name">
          <mat-error><span i18n>Name is</span> <strong i18n>required</strong></mat-error>
        </mat-form-field>
        <div class="button-row flex">
          <div class="flex-auto"></div>
          <button type="button" mat-raised-button routerLink="/settings/teams" i18n>Cancel</button>
          <button type="button" mat-raised-button color="primary" (click)="save()" i18n>Save</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab [disabled]="!form.get('ID').value" label="Users" i18n-label>
      <app-manage-users [teamId]="teamId"></app-manage-users>
    </mat-tab>
    <mat-tab [disabled]="!form.get('ID').value" label="Permissions" i18n-label>
      <app-manage-permissions [teamId]="teamId"></app-manage-permissions>
    </mat-tab>
  </mat-tab-group>
</mat-card>
