<div class="preview">
  <h4>Settings</h4>
  <div *ngIf="survey">
    <button *ngIf="isSurveyActive()" (click)="changeSurveyStatus(false)" mat-raised-button color="warn">Deactivate</button>
    <button *ngIf="!isSurveyActive()" (click)="changeSurveyStatus(true)" mat-raised-button color="accent">Activate</button>
  </div>
  <div>
    <button *ngIf="!survey" (click)="createSurvey()" mat-raised-button color="accent">Create</button>
    <button *ngIf="survey" (click)="deleteSurvey()" mat-raised-button color="warn">Delete</button>
  </div>
</div>

<div *ngIf="survey" class="flex">
  <div class="preview">
    <h4>Preview</h4>
    <div *ngIf="survey && survey.Inputs.length">
      <div>
        <div *ngFor="let item of survey.Inputs; let i = index">
          <mat-form-field>
            <mat-label>{{item.Label}}</mat-label>
            <input matInput type="text" readonly [value]="item.VariableName">
          </mat-form-field>
          <button mat-raised-button (click)="editExtraVariable(i, item)">Edit</button>
          <button mat-raised-button (click)="deleteExtraVariable(i, item)" color="warn">Delete</button>
        </div>
      </div>
    </div>

    <button mat-raised-button (click)="addControl()">Add control</button>
    <button mat-raised-button color="accent" (click)="save()">Save</button>
  </div>

  <div class="editor">
    <h4>Editor</h4>
    <div [formGroup]="formDetails">
      <mat-form-field>
        <mat-label>Label</mat-label>
        <input matInput type="text" formControlName="Label">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hint</mat-label>
        <input matInput type="text" formControlName="Hint">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Variable name</mat-label>
        <input matInput type="text" formControlName="VariableName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput type="text" formControlName="Type">
      </mat-form-field>
    </div>
  </div>
</div>
