<h1>
  <ng-container *ngIf="!form.get('ID').value" i18n>Create new</ng-container>
  <ng-container *ngIf="form.get('ID').value" i18n>Edit</ng-container>
  <ng-container>&nbsp;</ng-container>
  <ng-container i18n>template</ng-container>
</h1>
<mat-card class="p0">
  <mat-tab-group>
    <mat-tab label="Details" i18n-label>
      <form [formGroup]="form" class="p2">
        <mat-form-field class="block">
          <mat-label i18n>Name</mat-label>
          <input matInput type="text" formControlName="Name">
        </mat-form-field>
        <mat-slide-toggle formControlName="PromptProject" i18n>Prompt on launch</mat-slide-toggle>
        <app-form-project [control]="form.Project"></app-form-project>
        <mat-slide-toggle formControlName="PromptInventory" i18n>Prompt on launch</mat-slide-toggle>
        <app-form-inventory [control]="form.Inventory"></app-form-inventory>
        <mat-slide-toggle formControlName="PromptPlaybook" i18n>Prompt on launch</mat-slide-toggle>
        <app-form-project-file [control]="form.Playbook" label="Playbook" i18n-label
                               [project]="form.get('Project').value"></app-form-project-file>
        <mat-slide-toggle formControlName="PromptSshKey" i18n>Prompt on launch</mat-slide-toggle>
        <app-form-ssh-key [control]="form.SshKey" label="SSH key"></app-form-ssh-key>
        <mat-slide-toggle formControlName="PromptVaultKey" i18n>Prompt on launch</mat-slide-toggle>
        <app-form-ssh-key [control]="form.VaultKey" label="Vault key"></app-form-ssh-key>
        <mat-slide-toggle formControlName="PromptExtraVariables" i18n>Prompt on launch</mat-slide-toggle>
        <mat-form-field class="block">
          <mat-label i18n>Extra variables</mat-label>
          <textarea cdkTextareaAutosize matInput type="textarea" formControlName="ExtraVariables"></textarea>
        </mat-form-field>
        <div class="button-row flex">
          <div class="flex-auto"></div>
          <button type="button" mat-raised-button routerLink="/settings/templates" i18n>Cancel</button>
          <button *ngIf="!template || template?.Permissions?.Write"
                  type="button"
                  mat-raised-button
                  color="primary"
                  i18n
                  (click)="save()">Save</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Permissions" i18n-label [disabled]="!templateId">
      <div class="p0">
        <app-manage-permissions [editable]="template?.Permissions?.Admin" [templateId]="form.ID.value"></app-manage-permissions>
      </div>
    </mat-tab>
    <mat-tab label="Notifications" i18n-label [disabled]="!templateId">
      <app-notifications-when [templateId]="templateId"></app-notifications-when>
    </mat-tab>
    <mat-tab label="Surveys" i18n-label [disabled]="!template">
      <app-surveys></app-surveys>
    </mat-tab>
  </mat-tab-group>
</mat-card>
