<h1>
  <ng-container *ngIf="!form.get('ID').value">Create new</ng-container>
  <ng-container *ngIf="form.get('ID').value">Edit</ng-container>
  template
</h1>
<mat-card class="p0">
  <mat-tab-group>
    <mat-tab label="Details">
      <form [formGroup]="form" class="p2">
        <mat-form-field class="block">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="Name">
        </mat-form-field>
        <mat-slide-toggle formControlName="PromptProject">Prompt on launch</mat-slide-toggle>
        <app-form-project [control]="form.Project"></app-form-project>
        <mat-slide-toggle formControlName="PromptInventory">Prompt on launch</mat-slide-toggle>
        <app-form-inventory [control]="form.Inventory"></app-form-inventory>
        <mat-slide-toggle formControlName="PromptPlaybook">Prompt on launch</mat-slide-toggle>
        <app-form-project-file [control]="form.Playbook" label="Playbook"
                               [project]="form.get('Project').value"></app-form-project-file>
        <mat-slide-toggle formControlName="PromptSshKey">Prompt on launch</mat-slide-toggle>
        <app-form-ssh-key [control]="form.SshKey"></app-form-ssh-key>
        <mat-slide-toggle formControlName="PromptExtraVariables" class="">Prompt on launch</mat-slide-toggle>
        <mat-form-field class="block">
          <mat-label>Extra variables</mat-label>
          <textarea cdkTextareaAutosize matInput type="textarea" formControlName="ExtraVariables"></textarea>
        </mat-form-field>
        <div class="button-row flex">
          <div class="flex-auto"></div>
          <button type="button" mat-raised-button routerLink="/settings/templates">Cancel</button>
          <button *ngIf="!template || template?.Permissions?.Write" type="button" mat-raised-button color="primary" (click)="save()">Save</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Permissions" [disabled]="!templateId">
      <div class="p0">
        <app-manage-permissions [editable]="template?.Permissions?.Admin" [templateId]="form.ID.value"></app-manage-permissions>
      </div>
    </mat-tab>
    <mat-tab label="Notifications" [disabled]="!templateId">
      <app-notifications-when [templateId]="templateId"></app-notifications-when>
    </mat-tab>
  </mat-tab-group>
</mat-card>
