<h1>
  <ng-container *ngIf="!form.get('ID').value">Create new</ng-container>
  <ng-container *ngIf="form.get('ID').value">Edit</ng-container>
  repository
</h1>
<mat-card>
  <form [formGroup]="form">
    <mat-form-field class="d-block">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="Name">
    </mat-form-field>
    <mat-form-field class="d-block">
      <mat-label>Type</mat-label>
      <mat-select formControlName="Type">
        <mat-option value="docker">Docker registry</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="d-block">
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="Url">
    </mat-form-field>
    <mat-form-field class="d-block">
      <mat-label>Username</mat-label>
      <input matInput autocomplete="new-password" type="text" formControlName="Username">
    </mat-form-field>
    <mat-form-field class="d-block">
      <mat-label>Password</mat-label>
      <input matInput autocomplete="new-password" type="password" formControlName="Password">
    </mat-form-field>
    <div class="button-row">
      <button type="button" mat-raised-button routerLink="/settings/repositories">Cancel</button>
      <button type="button" mat-raised-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</mat-card>
