<div class="flex">
  <h1>SSH keys</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/keys/add">Add key</button>
  </div>
</div>
<mat-card *ngFor="let key of keys" class="my2">
  <div class="flex">
    <div>
      <a routerLink="/settings/keys/{{key.ID}}">{{key.Title}}</a>
    </div>
    <div class="flex-auto"></div>
    <button *ngIf="key.Write" type="button" mat-icon-button title="Edit" routerLink="/settings/keys/{{key.ID}}">
      <mat-icon color="primary">edit</mat-icon>
    </button>
    <button *ngIf="key.Write" type="button" mat-icon-button title="Delete key" (click)="delete(key)">
      <mat-icon color="warn">delete_forever</mat-icon>
    </button>
  </div>
</mat-card>
