.job-status {
  cursor: pointer;

  &--completed {
    //color: white;
    background-color: #73de83;
  }

  &--processing {
    //color: white;
    background-color: #ffe99a;
  }

  &--pending {
    //color: white;
    background-color: #79c2ff;
  }

  &--failed {
    //color: red;
    background-color: #ff7276;
  }
}
