<div class="d-flex">
  <h1>SSH keys</h1>
  <div class="flex-fill"></div>
  <div class="d-flex flex-column justify-content-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/keys/add">Add key</button>
  </div>
</div>
<mat-card *ngFor="let key of keys" class="my-2">
  <div class="d-flex">
    <div>
      <div><b>{{key.Title}}</b></div>
    </div>
    <div class="flex-fill"></div>
    <div>
      <button type="button" mat-icon-button title="Delete key" (click)="delete(key)">
        <mat-icon color="warn">delete_forever</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
