<div class="flex flex-wrap">
  <h1 i18n>Projects</h1>
  <div class="flex-auto"></div>
  <div class="flex flex-column justify-center">
    <button type="button" mat-raised-button color="primary" routerLink="/settings/projects/create">
      <ng-container i18n>Create new project</ng-container>
    </button>
  </div>
</div>

<mat-card *ngFor="let project of projects" class="my2">
  <div class="flex">
    <div>
      <div class="mb2">
        <a routerLink="/settings/projects/{{project.ID}}">{{project.Name}}</a>
      </div>
      <div class="properties">
        <div class="properties__row">
          <div class="properties__label" i18n>Repository URL</div>
          <div class="properties__value">{{project.RepoUrl}}</div>
        </div>
        <div class="properties__row">
          <div class="properties__label" i18n>Branch</div>
          <div class="properties__value">{{project.RepoBranch}}</div>
        </div>
      </div>
    </div>
    <div class="flex-auto"></div>
    <div>
      <app-edit-button routerLink="/settings/projects/{{project.ID}}"></app-edit-button>
      <button type="button"
              mat-icon-button
              matTooltip="Synchronize with VCS"
              i18n-matTooltip
              [ngClass]="{'rotate': project.synchronizing, 'success': project.synchronizationStatus === 'success', 'error': project.synchronizationStatus === 'error'}"
              [disabled]="project.synchronizing"
              (click)="synchronize(project)">
        <mat-icon>autorenew</mat-icon>
      </button>
      <app-delete-button (click)="delete(project)"></app-delete-button>
    </div>
  </div>
</mat-card>
