@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-living-coral: (
  50 : #ffeeec,
  100 : #ffd4d0,
  200 : #ffb7b0,
  300 : #ff9a90,
  400 : #ff8579,
  500 : #ff6f61,
  600 : #ff6759,
  700 : #ff5c4f,
  800 : #ff5245,
  900 : #ff4033,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe0de,
  A700 : #ffc8c4,
  contrast: (
    50 : #000000,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-ibiza-blue: (
  50 : #e0eff6,
  100 : #b3d8e9,
  200 : #80bedb,
  300 : #4da3cd,
  400 : #2690c2,
  500 : #007cb7,
  600 : #0074b0,
  700 : #0069a7,
  800 : #005f9f,
  900 : #004c90,
  A100 : #bcdbff,
  A200 : #89bfff,
  A400 : #56a3ff,
  A700 : #3c95ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-barrier-reef: (
  50 : #e0f0f4,
  100 : #b3dae3,
  200 : #80c2d0,
  300 : #4da9bd,
  400 : #2696af,
  500 : #4da9bd,
  600 : #007c99,
  700 : #00718f,
  800 : #006785,
  900 : #005474,
  A100 : #a2e1ff,
  A200 : #6fd0ff,
  A400 : #3cbfff,
  A700 : #23b7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-classicblue: (
  50 : #e0e9f0,
  100 : #b3c8d9,
  200 : #80a3c0,
  300 : #4d7ea6,
  400 : #266293,
  500 : #004680,
  600 : #003f78,
  700 : #00376d,
  800 : #002f63,
  900 : #002050,
  A100 : #83a8ff,
  A200 : #5084ff,
  A400 : #1d60ff,
  A700 : #034eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-jasminegreen: (
  50 : #f0f8e9,
  100 : #d9efc7,
  200 : #bfe4a2,
  300 : #a5d97c,
  400 : #92d060,
  500 : #62b42d,
  600 : #77c23e,
  700 : #6cbb35,
  800 : #62b42d,
  900 : #4fa71f,
  A100 : #eaffe0,
  A200 : #c8ffad,
  A400 : #a6ff7a,
  A700 : #94ff61,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-living-coral);
$app-accent: mat-palette($mat-barrier-reef);
$app-primary-2020: mat-palette($md-classicblue);
$app-accent-2020: mat-palette($md-jasminegreen);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
$app-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
$app-light-theme-2020: mat-light-theme($app-primary-2020, $app-accent-2020, $app-warn);
$app-dark-theme-2020: mat-dark-theme($app-primary-2020, $app-accent-2020, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-light-theme);
@import "themed-styles";
@include app-theme($app-light-theme);
.dark-theme {
  @include angular-material-theme($app-dark-theme);
  @include app-theme($app-dark-theme);
}
.dark-theme-2020 {
  @include angular-material-theme($app-dark-theme-2020);
  @include app-theme($app-dark-theme-2020);
}
.light-theme-2020 {
  @include angular-material-theme($app-light-theme-2020);
  @include app-theme($app-light-theme-2020);
}
