/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "utils";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  //font-family: 'Open Sans', sans-serif;
}

.ansi-black {
  color: white;
  font-weight: bold;
}

.ansi-red {
  color: #ff3a36;
}

.ansi-green {
  color: #1ea528;
}

.ansi-yellow {
  color: #fff431;
}

.ansi-blue {
  color: #636fff;
}

.ansi-magenta {
  color: #f248ff;
}

.ansi-cyan {
  color: #75ffee;
}

.ansi-white {
  color: #000000;
}
