@import '../node_modules/@angular/material/theming';

@mixin app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-drawer-container {
    background-color: mat-color($background);
  }

  .color-accent {
    color: mat-color($accent) !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .dark-theme-2020 .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: mat-color($accent);
  }

  .mat-form-field-appearance-outline.mat-focused {
    .mat-form-field-outline-thick, .mat-form-field-label {
      color: mat-color($accent) !important;
    }
  }

  .mat-card {
    box-shadow: none !important;
    border: 1px solid mat-color($foreground, divider);
  }

  .mat-expansion-panel {
    border: 1px solid mat-color($foreground, divider);
  }

  h1, h2, h3, h4, h5, h6 {
    color: mat-color($foreground);
  }

  a {
    text-decoration: none;
    color: mat-color($foreground, text);
    font-weight: bold;
  }

  .background-white {
    background-color: mat-color($primary, 'A100') !important;
  }

  .properties__label {
    color: mat-color($foreground, text);
  }
}
