.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.content {
  padding: 10px;
}

.d-block {
  display: block !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.d-flex {
  display: flex !important;
}

.my-2 {
  margin: 10px 0 !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.justify-content-center {
  justify-content: center !important;
}

.cursor-pointer {
  cursor: pointer;
}
