.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.content {
  padding: 10px;
}

.d-block {
  display: block !important;
}

.mr-2 {
  margin-right: 10px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-4 {
  margin-top: 20px !important;
}

.mb-2 {
  margin-bottom: 10px !important;
}

.mb-4 {
  margin-bottom: 20px !important;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

.d-flex {
  display: flex !important;
}

.my-2 {
  margin: 10px 0 !important;
}

.m-auto {
  margin: auto !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.cursor-pointer {
  cursor: pointer;
}

.background-white {
  background-color: white;
}

.p-0 {
  padding: 0 !important;
}

.p-2 {
  padding: 10px !important;
}

.p-3 {
  padding: 15px !important;
}

.pt-3 {
  padding-top: 15px !important;
}

.p-4 {
  padding: 20px !important;
}

.w-100 {
  width: 100% !important;
}

.w-500px {
  width: 500px !important;
}

.h-100 {
  height: 100% !important;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 -10px;
}

.col {
  flex-grow: 1;
  padding: 0 10px;
}

.container-fluid {
  padding: 0 10px;
}

.success {
  color: #07c707 !important;
}

.error {
  color: red !important;
}

.properties {
  display: table;

  &__row {
    display: table-row;
  }

  &__label {
    display: table-cell;
    padding:  5px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
  }

  &__value {
    padding: 0 5px;
    display: table-cell;
  }
}
