.button-row button,
.button-row a {
  margin-right: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.background-white {
  background-color: white;
}

.w-100 {
  width: 100% !important;
}

.w-500px {
  width: 500px !important;
}

.h-100 {
  height: 100% !important;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 -10px;
}

.col {
  flex-grow: 1;
  padding: 0 10px;
}

.container-fluid {
  padding: 0 10px;
}

.success {
  color: #07c707 !important;
}

.error {
  color: red !important;
}

.ansi-black {
  color: white;
  font-weight: bold;
}

.ansi-bright-black {
  color: #d8d8d8;
  font-weight: bold;
}

.ansi-red {
  color: #ff3a36;
}

.ansi-bright-red {
  color: #ffa9a7;
}

.ansi-green {
  color: #1ea528;
}

.ansi-bright-green {
  color: #88f392;
}

.ansi-yellow {
  color: #fff431;
}

.ansi-bright-yellow {
  color: #fff9b8;
}

.ansi-blue {
  color: #636fff;
}

.ansi-bright-blue {
  color: #a3adff;
}

.ansi-magenta {
  color: #f248ff;
}

.ansi-bright-magenta {
  color: #fd84ff;
}

.ansi-cyan {
  color: #75ffee;
}

.ansi-bright-cyan {
  color: #b1faff;
}

.ansi-white {
  color: #292929;
}

.ansi-bright-white {
  color: #000000;
}

.properties {
  display: table;

  &__row {
    display: table-row;
  }

  &__label {
    display: table-cell;
    padding:  5px;
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
  }

  &__value {
    padding: 0 5px;
    display: table-cell;
  }
}

.float-right {
  float: right !important;
}
