<h1>Create Application deployment</h1>
<mat-card>
  <form [formGroup]="form">
    <div>
      <app-form-application label="Application" formControlName="Application"></app-form-application>
    </div>
    <div>
      <app-form-application-inventory label="Inventory" formControlName="Inventories"
                          [multiple]="true"
                          [app]="form.get('Application').value"></app-form-application-inventory>
    </div>
    <div>
      <app-form-version label="Version" formControlName="Version"
                        [app]="form.get('Application').value"></app-form-version>
    </div>
    <div class="button-row">
      <button type="button" mat-raised-button routerLink="/jobs">Cancel</button>
      <button type="button" mat-raised-button color="primary" (click)="create()">Save</button>
    </div>
  </form>
</mat-card>
