<mat-card *ngFor="let app of apps" class="my2 p0">
  <mat-card-header>
    <mat-card-title class="m2">
      <strong>{{app?.Name}}</strong>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="app.Inventories" style="table-layout: fixed">
      <ng-container matColumnDef="inventory">
        <th mat-header-cell style="width: 33%" *matHeaderCellDef scope="col">Inventory</th>
        <td mat-cell *matCellDef="let element"> {{element.Inventory.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="version">
        <th mat-header-cell style="width: 33%" *matHeaderCellDef scope="col">Version</th>
        <td mat-cell *matCellDef="let element">{{element.Version}}</td>
      </ng-container>
      <ng-container matColumnDef="urls">
        <th mat-header-cell style="width: 34%" *matHeaderCellDef scope="col">URLs</th>
        <td mat-cell *matCellDef="let element">
          <app-urls [urlsString]="element.ApplicationUrls"></app-urls>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </mat-card-content>
</mat-card>
